[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
	update = rebase
	ignore = dirty
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf
	branch = master
	update = rebase
	ignore = dirty
[submodule "submodules/.tmux"]
	path = submodules/.tmux
	url = https://github.com/gpakosz/.tmux
	branch = master
	update = rebase
	ignore = dirty
[submodule "submodules/ohmyzsh"]
	path = submodules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
	branch = master
	update = rebase
	ignore = dirty
[submodule "submodules/zsh-abbr"]
	path = submodules/zsh-abbr
	url = https://github.com/olets/zsh-abbr.git
	branch = main
	update = rebase
	ignore = dirty
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
	update = rebase
	ignore = dirty
[submodule "submodules/zsh-completions"]
	path = submodules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	branch = master
	update = rebase
	ignore = dirty
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master
	update = rebase
	ignore = dirty
[submodule "submodules/LunarVim"]
	path = submodules/LunarVim
	url = https://github.com/LunarVim/LunarVim
	branch = master
	update = rebase
	ignore = dirty
[submodule "submodules/powerlevel10k"]
	path = submodules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
	branch = master
	update = rebase
	ignore = dirty
