[submodule "dotbot"]
	ignore = dirty
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/fzf"]
	ignore = dirty
	path = submodules/fzf
	url = https://github.com/junegunn/fzf
[submodule "submodules/.tmux"]
	ignore = dirty
	path = submodules/.tmux
	url = https://github.com/gpakosz/.tmux
[submodule "submodules/ohmyzsh"]
	ignore = dirty
	path = submodules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "submodules/zsh-autosuggestions"]
	ignore = dirty
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "submodules/vim-plug"]
	ignore = dirty
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug
