# sudo apt install -y libevent-dev ncurses-dev build-essential bison pkg-config unzip
python  3.10.11

# sudo apt install -y libevent-dev ncurses-dev build-essential bison pkg-config unzip
tmux    latest

neovim  latest

lazygit latest

node    latest

zoxide  latest

rust    latest

go      latest
