######################################################################
# common used
.git/*
.rgignore

######################################################################
# Windows/macOS files
.DS_Store
.Thumbs.db

######################################################################
# cscope / ctags
cscope.*
tags

######################################################################
# Hammerspoon local config
*_nosync.lua
