[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	l = log --color --graph --pretty=format:'%C(magenta)%h %C(green)(%cd) %C(red)<%an> %C(cyan)%d%Creset %s' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S'
	ls = log --color --graph --pretty=format:'%C(magenta)%h %C(green)(%cd) %C(red)<%an> %C(cyan)%d%Creset %s' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S' --stat
	lf = log --color --graph --pretty=format:'%C(magenta)%h %C(green)(%cd) %C(red)<%an> %C(cyan)%d%Creset %s' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S' --follow --
[user]
	email = shangjin.tang@gmail.com
	name = Shangjin Tang
[core]
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore
[interactive]
	diffFilter = delta --color-only
[delta]
	diff-so-fancy = true
	side-by-side = true
	line-numbers = false
	# use n and N to move between diff sections (files & hunks)
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[color]
	ui = auto
[credential]
	helper = store
[push]
	default = current
[http]
	sslVerify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
# [remote "origin"]
# 	fetch = +refs/heads/*:refs/remotes/origin/*

# vim: ft=gitconfig syntax=gitconfig ts=4 sw=4 sts=4 noet sr
