######################################################################
# folders
.git/*
.hg/*
.svn/*

######################################################################
# files
.DS_Store
.Thumbs.db

######################################################################
# cscope / ctags
cscope.*
tags

