######################################################################
# common
.git/
.ignore
# rg
.rgignore
# fd
.fdignore



######################################################################
# Linux/macOS Command Line Tools

# cscope
cscope.*
# ctags
tags
# coc-clangd
.clangd/
.cache/
compile_commands.json

# use build for cmake, scons
build/
# bazel
bazel-*
# scons
.sconsign.dblite
# cmake
cmake-build-debug
cmake-build-release
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json

# python cache
__pycache__

# cargo
target/
Cargo.lock

######################################################################
# macOS only

# hammerspoon local config
*_nosync.lua
# temporary files
.DS_Store



######################################################################
# Windows

# temporary files
.Thumbs.db



######################################################################
# Cross Platform GUI Software

.vscode/
.idea/

######################################################################
# Programming output file/cache

a.out
