[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	l = log --color --graph --pretty=format:'%C(magenta)%h %C(green)(%cd) %C(red)<%an> %C(cyan)%d%Creset %s' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S'
	ls = log --color --graph --pretty=format:'%C(magenta)%h %C(green)(%cd) %C(red)<%an> %C(cyan)%d%Creset %s' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S' --stat
	lf = log --color --graph --pretty=format:'%C(magenta)%h %C(green)(%cd) %C(red)<%an> %C(cyan)%d%Creset %s' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S' --follow --
[user]
	email = shangjin.tang@gmail.com
	name = Shangjin Tang
[core]
	editor = vim
	excludesfile = ~/.gitignore
[color]
	ui = auto
[credential]
	helper = store
[http]
#	proxy = http://127.0.0.1:1080
[push]
	default = current
[http]
	sslverify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
